[run]
source = sales
omit =
    */__init__.py
    */settings.py
    */manager.py
    */wsgi.py
    */asgi.py
    */apps.py
    */urls.py
    */admin.py
    */migrations/*
    */tests/*
    */tests.py
    */router.py
    htmlcov/*
